body{
    margin: auto;
    text-align: center;
    background: linear-gradient(-45deg, #52d1ee, #3c78e7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.tittle_text{
    color: white;
    font-weight: bold;
}

.tittle_text h1{
    font-size: 45px;
}

.tittle_text p{
    font-size: 22px;
}

#cadastro p{
    color: white;
    font-weight: bold;
    font-size: 22px;
}

#cadastro legend{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#cadastro input[type="text"]{
    width: 500px;
}

#cadastro input[type="submit"]{
    margin-top: 50px;
    width: 100px;
}

#cadastro input, #cadastro select{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 9px #fff;
    transition: 0.5s ease;
}

#cadastro input:hover, #cadastro select:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}