@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');

:root{
    --cor0: rgb(23, 0, 128);
    --cor1: rgb(94, 56, 151);
    --cor2: rgb(40, 37, 134);

    --letra-cor: white;
    --fonte-padrao: 'Poppins', sans-serif;
    --fonte-destaque: 'Tektur', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/marinhoclaro.png);
    background-size: cover;
    background-position: center;
    -webkit-font-smoothing: antialiased;
}

li{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

#inicial_information a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: var(--fonte-destaque);
    white-space: nowrap;
}

#inicial_information a:hover{
    color: #ffffff;
}

header{
    position: relative;
    padding: 0 2rem;
}

#inicial_information {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inicial_information .links{
    display: flex;
    gap: 2rem;
}

#inicial_information .toggle_btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#inicial_information a{
    margin: 10px;
    font-weight:500;
    border: none;
    border-radius: 10px;
    text-align: center;
    float: right;
    font-size: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

#inicial_information a{
    color: white;
    font-family: var(--fonte-destaque);
}

#inicial_information a::before {
    content: "";
    background-color: rgba(57, 176, 255, 0.5);
    display: block;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    transition: transform 300ms ease;
    transform-origin: right;
    transform: scaleX(0);
}

#inicial_information a:hover::before{
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: left;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu a{
    font-weight: bold;
    color: white;
}

.dropdown_menu a:hover{
    color: #0fa8ee;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_theo {
    float: right;
    position: relative;
    width: 18%;
    height: 18%;
    top: 0px;
    right: 150px;
    z-index: 9999;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image_theo:after{
    content: "";
    position: absolute;
    width: 19%;
    height: 19%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.image_theo:hover{
    transform: scale(1.1,1.1);
}

.image_theo:hover:after{
    opacity: 1;
}

.my_name {
    margin-top: 200px;
    color: white;
}

#mid_information h1{
    position: static;
    text-align: center;
    margin-right: 150px;
    font-size: 70px;
}

#mid_information button{
    text-align: center;
    margin-right: 150px;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.box .btn:hover{
    width: 200px;
}

.box .btn .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
    transition: all 0.3s ease-out;
}

.github:hover .icon{
    background: #5b508b;
}

.linkedin:hover .icon{
    background: #0e76a8;
}

.whatsapp:hover .icon{
    background: #25D366;
}

.instagram:hover .icon{
    background: #e1306c;
}

.box .btn .icon i{
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.box .btn:hover .icon i{
    color: #fff;
}

.box .btn span{
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}

.github:hover span{
    font-weight: bold;
    color: #5b508b;
}

.linkedin:hover span{
    font-weight: bold;
    color: #0e76a8;
}

.whatsapp:hover span{
    font-weight: bold;
    color: #25D366;
}

.instagram:hover span{
    font-weight: bold;
    color: #e1306c;
}

.sobre_mim {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    overflow: hidden;
}

.sobre_mim .text{
    position: relative;
    color: #0fa8ee;
}

.sobre_mim .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #15365d;
    border-left: 2px solid #0fa8ee;
    animation: animate 6s steps(26) infinite;
}

.custom-shape-divider-bottom-1690387607 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690387607 svg {
    position: relative;
    display: block;
    width: calc(525% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1690387607 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1690407472 {
    margin-top: 963px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690407472 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
}

.custom-shape-divider-top-1690407472 .shape-fill {
    fill: #FFFFFF;
}

#final_information h1{
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 500px;
}

#final_information .sobre{
    color: #0e76a8;
    font-size: 20px;
    text-align: center;
    word-break: break-word;
}

#final_information {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: space-between;
    gap: 30px;
}

.sobre{
    top: 70px;
}

.square .sobre{
    background: #fff;
    margin: 5px;
    height: auto;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    position: relative;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.square .sobre h3{
    color: #15365d;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.square .sobre .theo_img{
    position: absolute;
    border-radius: 50%;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.square .sobre .theo_img i{
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

.square .sobre p.role{
    color: #ccc;
    font-size: 15px;
    text-transform: uppercase;
    margin: 12px 0;
}

.square .sobre p{
    line-height: 20px;
}

#final_information .square{
    width: 50%;
    height: 10%;
    margin: auto;
}

#habilidades h1{
    font-size: 35px;
}

#habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -400px;
}

#habilidades .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

#habilidades .btn:hover{
    width: 200px;
}

#habilidades .btn .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
    transition: all 0.3s ease-out;
}

.python:hover .icon{
    background: #286acd;
}

.html:hover .icon{
    background: #ffa500;
}

.css:hover .icon{
    background: #0e76a8;
}

.js:hover .icon{
    background: #ffc800;
}

.box .btn .icon i{
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

#habilidades .btn:hover .icon i{
    color: #fff;
}

#habilidades .btn span{
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}

.python:hover span{
    font-weight: bold;
    color: #286acd;
}

.html:hover span{
    font-weight: bold;
    color: #ffc800;
}

.css:hover span{
    font-weight: bold;
    color: #0e76a8;
}

.js:hover span{
    font-weight: bold;
    color: #ffd000;
}

.frase_works {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 60px;
    font-weight: bold;
    margin-top: 500px;
    text-align: center;
}

.works{
    overflow: hidden;
    margin: auto;
}

.work {
    position: relative;
    display: inline-block;
    margin: 10px;
    box-shadow: 10 10px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: all 0.5s linear;
}

.work a {
    position: relative;
    display: block;
}

.work h4{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.work a img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: brightness 0.3s ease, all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.work a img:not(:hover) {
    filter: brightness(0.7);
}

.work a img:after {
    content: "";
    position: absolute;
    width: 19%;
    height: 19%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.work a img:hover {
    transform: scale(1.3, 1.3);
    box-shadow: 0 0 8px #fff;
    border: solid 1px #fff;
}

.work a img:hover:after {
    opacity: 1;
}

.work a img:hover + .escrita {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.work .escrita {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
}

.work:hover{
    box-shadow: 0 0 13px #fff;
    border-radius: 5px;
}

.works{
    width: 50%;
    height: 10%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.enviar_proposta h1{
    text-align: center;
    margin-top: 500px;
}

.enviar_proposta h1 a{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-top: 150px;
}

.enviar_proposta form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    width: 500px;
    margin: auto;
}

.enviar_proposta form label{
    margin: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}



.enviar_proposta .nome_enviado{
    margin-top: 70px;
    color: white;
    font-size: 18px;
    text-align: center;
}

@keyframes animate{
    40%, 60%{
        left: 100%; 
    }
    100%{
        left: 0%;
    }
}

@media(max-width: 992px){
    .image_theo{
        right: 70px;
    }

    #inicial_information .links{
        display: none;
    }

    #inicial_information .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .image_theo {
        float: right;
        position: relative;
        top: 0;
        right: 150px;
    }

    #mid_information h1 {
        margin-right: 150px;
    }

    #mid_information button {
        margin-right: 150px;
    }

    .box {
        justify-content: center;
    }
    
}

@media screen and (max-width: 768px) {
    .image_theo {
        float: none;
        margin: 0 auto;
        max-width: 0px;
    }

    #mid_information h1,
    #mid_information button {
        margin-right: 0;
    }

    .box {
        flex-direction: row;
        align-items: center;
    }

    .box .btn {
        height: 12vw;
        width: 12vw;
        margin: 2px;
    }

    .box .btn .icon i {
        font-size: 4vw;
        line-height: 12vw;
    }

    .box .btn span {
        text-align: center;
        font-size: 4vw;
        line-height: 12vw;
        margin-left: 5px;
    }

    #final_information h1 {
        margin-top: 60vh;
        font-size: 5vw;
    }

    .sobre_mim {
        font-size: 3.4vw;
        text-align: center;
    }

    .sobre_mim .text.sec-text:before {
        border-left: 1px solid #0fa8ee;
        animation: animate 4s steps(13) infinite;
    }

    .custom-shape-divider-bottom-1690387607 svg {
        margin-top: -400px;
        width: 100%;
        height: 20vh;
    }

    #final_information .square {
        width: 90%;
        margin: auto;
    }
}